_build/
*.install
.merlin
_opam/
code/.opam/
_esy/
data/*.sqlite
data/*.sqlite-wal
data/*.sqlite-shm
node_modules/
_docs/
.env
well.log
data/mocks/
data/uploads/
data/certs/
.axioms/
_release/
code/_release/
code/data/
code/test-results/
code/*.tar.gz
