_build/
*.install
.merlin
_opam/
_esy/
data/*.sqlite
data/*.sqlite-wal
data/*.sqlite-shm
node_modules/
_docs/
.env
well.log
data/mocks/
data/uploads/
data/certs/
.axioms/
_release/
_generated/_release/
_generated/data/
_generated/test-results/
_generated/*.tar.gz
